{% extends "index.html" %}

{% block title_head %}
Filtrar Zapatillas
{% endblock title_head %}

{% block main %}

    <form action={% url "buscar-zapa" %}>
        {{form}}
        <input type="submit">
    </form>

    {% if zapas %}
    <ul>
        {% for zapa in zapas %}
        <ul>
            <li>Marca: {{zapa.marca}}</li>
            <li>Color: {{zapa.color}}</li>
            <a href={% url "ver-zapa" zapa.id%}>Ver más</a> 
            |<a href={% url "eliminar-zapa" zapa.id%}>Eliminar</a> 
            |<a href={% url "editar-zapa" zapa.id%}>Editar</a> 
            <li>~~~~~~~~~~~~~~~~~</li>
        </ul>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay zapatillas registrados.</p>
    {% endif %}

{% endblock main %} 